In [1]:
# IMPORTS FOR ALL THE PROJECT
import numpy as np
import os
import requests
from numpy.random import default_rng
import matplotlib
import matplotlib.pyplot as plt
import tarfile
from six.moves import urllib
import pandas as pd

In [2]:
# PATH TO THE FILES

urls= ['https://raw.githubusercontent.com/Plexiglace-EL/projet-IA/main/general_data.csv',
       'https://raw.githubusercontent.com/Plexiglace-EL/projet-IA/main/manager_survey_data.csv',
       'https://raw.githubusercontent.com/Plexiglace-EL/projet-IA/main/employee_survey_data.csv',
       'https://raw.githubusercontent.com/Plexiglace-EL/projet-IA/main/in_time.csv',
       'https://raw.githubusercontent.com/Plexiglace-EL/projet-IA/main/out_time.csv']

paths = ['./datasets/general_data.csv',
         './datasets/manager_survey_data.csv',
         './datasets/employee_survey_data.csv',
         './datasets/in_time.csv',
         './datasets/out_time.csv']

In [3]:

def fetch_datas(url, path):
    localfile, header = urllib.request.urlretrieve(url, path)
    print(localfile)
    return localfile

def extractZip(path):
    with tarfile.open(path) as tf:
        tf.extractall('./datasets')

In [4]:
def import_all_files():
    print('==='*4, "BEGIN", '==='*4)


    if not os.path.exists('./datasets/'):
        print('==='*4, "CREATING \"./datasets/\" DIRECTORY", '==='*4)
        os.mkdir('./datasets')

    for i, url in enumerate(urls):
        fetch_datas(urls[i], paths[i])

    print('==='*4, "FINISHED", '==='*4)

In [5]:
def load_datas(path):
    datas = pd.read_csv(path)
    return datas

In [6]:
# FUNCTION TO DOWNLOAD THE FILES FROM ONLINE REPO TO LOCAL FOLDER

import_all_files()

============ BEGIN ============
./datasets/general_data.csv
./datasets/manager_survey_data.csv
./datasets/employee_survey_data.csv
./datasets/in_time.csv
./datasets/out_time.csv
============ FINISHED ============

In [7]:
# IMPORTING DATA IN DATAFRAME VARIABLES

general = load_datas(paths[0])
manager_survey = load_datas(paths[1])
employee_survey = load_datas(paths[2])
in_time = load_datas(paths[3])
out_time = load_datas(paths[4])

In [8]:
def converting_string_to_dates(in_time, out_time):
    # RENAMING THE UNNAMED COLUMN (ID_EMPLOYEE) FOR IT TO BE USEABLE MORE EASILY IN THE FUTURE

    in_time = in_time.rename(columns={'Unnamed: 0': 'id_employee'})
    out_time = out_time.rename(columns={'Unnamed: 0': 'id_employee'})


    # WE CAN USE THE COLUMNS OF ONLY ONE FILE BECAUSE THEY ARE BOTH THE SAME AND CONTAINS THE SAME HEADERS NAME
    # IT HAS BEEN VERIFIED USING LIST COMPARISON AND UNIQUE() CONDITION TO FILTER AND WE END WITH A TOTAL OF 262 COLUMNS
    cols = in_time.columns


    # CONVERTING THE DATES TO REAL PANDAS DATES OBJECT
    for i in cols:
        if i != 'id_employee':
            in_time[i] = pd.to_datetime(in_time[i])
            out_time[i] = pd.to_datetime(out_time[i])

    return in_time, out_time

In [9]:
#converting in and out time dataframes into pandas date obj
in_time, out_time = converting_string_to_dates(in_time, out_time)

<class 'str'> 2015-01-02 10:28:17
<class 'str'> 2015-01-02 18:31:37
<class 'pandas._libs.tslibs.timestamps.Timestamp'> 2015-01-02 10:28:17
<class 'pandas._libs.tslibs.timestamps.Timestamp'> 2015-01-02 18:31:37

In [10]:
# using the converted dates to calculate the working time of each employee
def calculate_working_time():

    working_time = in_time.copy()
    for i in working_time:
        if i != 'id_employee':
            working_time[i] = out_time[i] - working_time[i]
            
    return working_time

In [23]:
working_time = calculate_working_time()

,id_employee,2015-01-01,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,...,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-25,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,1,NaT,0 days 07:12:30,0 days 07:11:23,0 days 07:24:39,0 days 07:00:24,0 days 07:17:23,0 days 07:29:04,0 days 07:15:46,0 days 07:49:52,...,NaT,0 days 07:20:21,0 days 07:23:45,0 days 06:30:17,0 days 07:35:47,NaT,0 days 07:46:26,0 days 07:18:54,0 days 07:46:44,0 days 07:04:49
1,2,NaT,0 days 08:06:33,0 days 07:27:17,NaT,0 days 07:23:49,0 days 07:25:00,0 days 07:09:03,0 days 07:36:41,0 days 07:16:44,...,0 days 07:54:11,0 days 07:45:14,0 days 07:42:44,0 days 07:26:08,NaT,NaT,0 days 07:36:53,0 days 07:58:57,0 days 07:59:10,0 days 08:13:38
2,3,NaT,0 days 06:41:33,0 days 07:15:56,0 days 06:24:19,0 days 06:45:54,0 days 07:20:42,0 days 06:51:41,0 days 07:25:07,0 days 06:59:59,...,0 days 06:47:09,0 days 07:09:49,0 days 06:48:06,0 days 06:43:49,0 days 06:50:59,NaT,0 days 07:01:26,0 days 07:26:20,0 days 07:32:20,0 days 06:47:11
3,4,NaT,0 days 07:20:18,0 days 07:17:31,0 days 06:56:35,0 days 06:55:10,0 days 06:51:03,0 days 07:11:35,0 days 06:59:55,0 days 07:18:23,...,0 days 07:37:45,0 days 06:50:48,0 days 07:19:35,0 days 07:24:49,0 days 07:05:06,NaT,0 days 07:26:50,0 days 07:25:00,0 days 07:21:59,0 days 07:07:59
4,5,NaT,0 days 08:03:20,0 days 07:59:17,0 days 07:40:57,0 days 07:48:22,0 days 07:39:44,0 days 07:43:18,0 days 08:21:54,0 days 08:15:26,...,0 days 07:54:13,0 days 07:39:54,0 days 07:57:27,0 days 07:47:13,0 days 08:14:58,NaT,0 days 07:39:44,0 days 08:16:07,0 days 07:57:12,0 days 08:01:05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,4406,NaT,0 days 08:07:05,0 days 08:50:27,0 days 08:23:58,0 days 08:50:42,0 days 08:13:25,0 days 08:16:51,0 days 08:21:38,0 days 08:45:33,...,0 days 08:04:59,0 days 08:09:41,0 days 08:17:33,0 days 08:36:16,0 days 08:35:49,NaT,0 days 08:28:56,0 days 09:04:29,0 days 08:56:37,0 days 08:30:29
4406,4407,NaT,0 days 06:15:20,NaT,0 days 05:23:37,0 days 05:43:40,0 days 06:11:36,0 days 05:42:52,0 days 06:03:10,0 days 06:17:32,...,0 days 05:55:30,0 days 05:49:50,0 days 05:55:29,0 days 06:06:38,0 days 05:59:34,NaT,0 days 05:40:11,0 days 06:33:30,0 days 05:42:08,0 days 06:08:51
4407,4408,NaT,0 days 07:16:34,0 days 07:35:07,0 days 07:38:29,0 days 07:59:10,0 days 07:17:47,0 days 07:01:54,0 days 07:46:33,0 days 07:28:42,...,0 days 07:47:08,0 days 07:51:58,0 days 07:45:13,0 days 07:45:08,0 days 07:24:07,NaT,0 days 07:44:04,NaT,0 days 07:45:38,0 days 08:05:25
4408,4409,NaT,0 days 09:31:32,0 days 09:35:13,0 days 09:47:18,0 days 09:23:28,0 days 09:12:16,NaT,0 days 09:17:39,0 days 09:35:59,...,0 days 09:58:11,0 days 09:20:27,0 days 09:22:21,0 days 09:14:30,0 days 09:41:52,NaT,0 days 10:03:11,0 days 09:00:44,0 days 09:21:38,0 days 09:36:58
4409,4410,NaT,0 days 06:50:10,0 days 07:16:48,0 days 06:43:40,0 days 06:50:32,0 days 07:25:36,0 days 06:58:19,0 days 06:51:46,0 days 07:29:28,...,0 days 07:03:09,0 days 07:00:07,NaT,0 days 06:43:12,0 days 06:18:24,NaT,0 days 07:33:33,0 days 07:11:04,0 days 06:57:06,0 days 06:29:50

In [12]:
# Encoder to convert the text data to actual values, it returns a corresponding matrix and the converted column

from sklearn.preprocessing import LabelEncoder
label_enc = LabelEncoder()

def personnal_encoder(df, col):
    df[col] = label_enc.fit_transform(df[col])
    labels = label_enc.classes_.copy()
    for index, l in enumerate(labels):
        labels[index] = [index, l]

    return labels, df

In [13]:
businesstravel_labels, general = personnal_encoder(general, 'BusinessTravel')
attrition_labels, general = personnal_encoder(general, 'Attrition')
education_labels, general = personnal_encoder(general, 'EducationField')
department_labels, general = personnal_encoder(general, 'Department')
gender_labels, general = personnal_encoder(general, 'Gender')
ovr18_labels, general = personnal_encoder(general, 'Over18')

In [15]:
general['Age'].value_counts().sort_values(axis=0)

57     12
60     15
18     24
19     27
59     30
20     33
21     39
56     42
23     42
58     42
22     48
52     54
54     54
53     57
51     57
48     57
55     66
47     72
49     72
25     78
24     78
50     90
43     96
44     99
46     99
26    117
41    120
45    123
39    126
42    138
27    144
28    144
37    150
40    171
38    174
33    174
30    180
32    183
29    204
36    207
31    207
34    231
35    234
Name: Age, dtype: int64

In [25]:
# Adding the calculated mean value of the working time of each employee to the main dataframe
mean_time = working_time.copy()
mean_time = mean_time.drop('id_employee', axis=1)
general['mean'] = mean_time.mean(axis = 1)
general['mean'] = general['mean'].dt.total_seconds() / 3600
general['mean'] = round(general['mean'], 2)
general

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,mean
0,51,0,2,2,6,2,1,1,1,0,...,0,11,8,0,1.0,6,1,0,0,7.37
1,31,1,1,1,10,1,1,1,2,0,...,0,23,8,1,6.0,3,5,1,4,7.72
2,32,0,1,1,17,4,4,1,3,1,...,0,15,8,3,5.0,2,5,0,3,7.01
3,38,0,0,1,2,5,1,1,4,1,...,0,11,8,3,13.0,5,8,7,5,7.19
4,32,0,2,1,10,1,3,1,5,1,...,0,12,8,2,9.0,2,6,0,4,8.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,0,2,1,5,4,3,1,4406,0,...,0,17,8,1,10.0,5,3,0,2,8.52
4406,29,0,2,1,2,4,3,1,4407,1,...,0,15,8,0,10.0,2,3,0,2,6.09
4407,25,0,2,1,25,2,1,1,4408,1,...,0,20,8,0,5.0,4,4,1,2,7.71
4408,42,0,2,2,18,2,3,1,4409,1,...,0,14,8,1,10.0,2,9,7,8,9.49
4409,40,0,2,1,28,3,3,1,4410,1,...,0,12,8,0,NaN,6,21,3,9,6.99